
<a onclick="scrollToTop();" class="scrollTop" ><i class="fas fa-angle-double-up"></i></a>
  <section class="recipes">
        
            <div class="container">

                <div class="card">
                    <div class="imgBox">
                        <img src="/img/maincourse.jpg">
                    </div>
                    
                    <div class="content">
                        <div class="contentBox">
                            <h3><i class="fas fa-book"></i> Main Courses<br><span>Come in to add your dish</span></h3>
                        </div>
                        <a class="enter" asp-controller="MainCourse" asp-action="Index">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            Enter
                        </a>
                    </div>
                </div>

                <div class="card">
                    <div class="imgBox">
                        <img src="/img/soup.jpg">
                    </div>
                    
                    <div class="content">
                        <div class="contentBox">
                            <h3><i class="fas fa-book"></i> Soups<br><span>Come in to add your soup</span></h3>
                        </div>
                        <a class="enter" asp-controller="Soup" asp-action="Index" >
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            Enter
                        </a>
                    </div>
                </div>


               
                
                <div class="card">
                    <div class="imgBox">
                        <img src="/img/c.jpg" alt="cakes">
                    </div>
                    
                    <div class="content">
                        <div class="contentBox">
                            <h3><i class="fas fa-book"></i> Cakes<br><span>Come in to add your cakes</span></h3>
                        </div>
                        <a class="enter" asp-controller="Cake" asp-action="Index">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            Enter
                        </a>
                    </div>
                </div>

                <div class="card">
                    <div class="imgBox">
                        <img src="/img/dessert.jpg" alt="dessert">
                    </div>
                    
                    <div class="content">
                        <div class="contentBox">
                            <h3><i class="fas fa-book"></i> Desserts<br><span>Come in to add your desserts</span></h3>
                        </div>
                        <a class="enter" asp-controller="Dessert" asp-action="Index">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            Enter
                        </a>
                    </div>
                </div>
                
                <div class="card">
                    <div class="imgBox">
                        <img src="/img/icecream1.jpg" alt="ice cream">
                        </div>
                                    
                    <div class="content">
                        <div class="contentBox">
                            <h3><i class="fas fa-book"></i> Ice creams<br><span>Come in to add your ice cream</span></h3>
                        </div>
                        <a class="enter" asp-controller="IceCream" asp-action="Index">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            Enter
                        </a>
                    </div>
                    </div>
                
                  <div class="card">
                      <div class="imgBox">
                          <img src="/img/drink.jpg" alt="drink">
                          </div>
                                    
                      <div class="content">
                          <div class="contentBox">
                              <h3><i class="fas fa-book"></i> Drinks<br><span>Come in to add your drinks</span></h3>
                          </div>
                          <a class="enter" asp-controller="Drinks" asp-action="Index">
                              <span></span>
                              <span></span>
                              <span></span>
                              <span></span>
                              Enter
                              </a>
                          </div>
                      </div>
                
                 <div class="card">
                     <div class="imgBox">
                         <img src="/img/drink2.jpg" alt="alcohols">
                         </div>
                                                    
                     <div class="content">
                         <div class="contentBox">
                             <h3><i class="fas fa-book"></i> Alcohols<br><span>Come in to add your alcohols</span></h3>
                         </div>
                         <a class="enter" asp-controller="Alcohols" asp-action="Index">
                             <span></span>
                             <span></span>
                             <span></span>
                             <span></span>
                             Enter
                             </a>
                         </div>
                     </div>
    
                <div class="card">
                    <div class="imgBox">
                        <img src="/img/appetizers.jpg" alt="appetizier">
                    </div>
                                                                    
                    <div class="content">
                        <div class="contentBox">
                            <h3><i class="fas fa-book"></i> Appetizer<br><span>Come in to add your appetizer</span></h3>
                        </div>
                        <a class="enter" asp-controller="Appetizer" asp-action="Index">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            Enter
                        </a>
                    </div>
                </div>
                
                <div class="card">
                    <div class="imgBox">
                        <img src="/img/cardsalads2.jpg" alt="salads">
                    </div>
                                                                                    
                    <div class="content">
                        <div class="contentBox">
                            <h3><i class="fas fa-book"></i> Salads<br><span>Come in to add your salads</span></h3>
                        </div>
                        <a class="enter" asp-controller="Salads" asp-action="Index">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            Enter
                        </a>
                    </div>
                </div>
                
                <div class="card">
                    <div class="imgBox">
                        <img src="/img/snaks.jpg" alt="snaks">
                    </div>
                                                                                                    
                    <div class="content">
                        <div class="contentBox">
                            <h3><i class="fas fa-book"></i> Snacks<br><span>Come in to add your snaks</span></h3>
                        </div>
                        <a class="enter" asp-controller="Snacks" asp-action="Index">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            Enter
                        </a>
                    </div>
                </div>
                
                
            </div>
         
    </section>