@{
    ViewData["Title"] = "Home Page";
}

<section class="index" >
 
    <div id="home">
       <h1>Welcome back, @ViewBag.Name </h1>
     </div>
    <div id="description">
       <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Exercitationem, nam. Maiores ex fugit tempora, consequatur, nemo quo provident architecto dolor laboriosam debitis numquam quas quos quibusdam nam distinctio asperiores aspernatur!</p>
    </div>
    
    <ul class="social-nav">
        <li class="social-link">
            <a href="https://www.facebook.com/" target="_blank">
                <i class="fab fa-facebook-f"></i>
            </a>
        </li>      
        <li class="social-link">
            <a href="https://www.instagram.com/" target="_blank">
                <i class="fab fa-instagram"></i>
            </a>
        </li>
        <li class="social-link">
            <a href="https://www.whatsapp.com/" target="_blank">
                <i class="fab fa-whatsapp"></i>
            </a>
        </li>      
        <li class="social-link">
            <a href="https://twitter.com/" target="_blank">
                <i class="fab fa-twitter"></i>
            </a>
        </li>      
    </ul>
    
    
</section>